@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Micro+5&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Bebas Neue', sans-serif;
  user-select: none;
  background-color: black;
}
